*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  box-sizing: border-box;
  /* font-size: 62.5%; */
  padding: 0px;
}



body{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px;
  min-height: 100vh;
  background:  #000000;
  
}

/* Navbar */

nav{
  
  background: #000;
  opacity: 1;
  height: 100px;
  width: 100%;
  z-index: 10000;
  animation: animatenav  2s linear infinite;
}

@keyframes animatenav{
  0%{
    box-shadow: #1815aa 0px 2px 3px 2px;
  }
  50%{
    box-shadow: #7e1ecc 0px 2px 3px 2px;
  }
  100%{
    box-shadow: #1815aa 0px 2px 3px 2px;
  }

}

.enlace{
  position: absolute;
  padding: 0px 50px;
  

}

.logo{
  height: 100px;
  margin-left: -45px;
  opacity: 1;
}

nav ul{
  
  float: right;
  margin-right: 20px;
  font-size: 18px;
  
}


nav ul li{
  display: inline-block;
  line-height: 100px;
  margin: 0 10px;
  
}

nav ul li a{
  
  color: #1815aa;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 800;
  transition: .5s;

}

li a:hover{
  color: #7e1ecc;
}


.checkbtn{
  font-size: 45px;
  color: #1815aa;
  float: right;
  line-height: 100px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
  transition: .5s;
}

.checkbtn:hover{
  color: #7e1ecc;
}

#check{
  display: none; 
}


@media (max-width: 674px) {

  nav ul li a{ 
    font-size: 16px;
  }
  
  
}



@media (max-width: 568px) {
  .checkbtn{
    display: block;
  }

  .contacts ul li{
    padding: 20px;
    text-align: center;
  }
  nav ul{
    position: fixed;
    width: 100%;
    background: #000;
    opacity: .9;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .7s;
    z-index: 1000000;
  }

  nav ul li{
    display: block;
    
    margin: 50px 0;
    line-height: 30px;
  }

  
  #check:checked ~ ul{
    left: 0;
    position: absolute;
    z-index: 1000000;
  }
}

/* Form Contact */

.container{
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 6px;
  height: 520px;
  color: #fff;
  background: #000000;
}


.box{
  position: relative;
  width: 380px;
  top: 45px;
  height: 420px;
  background: #000000;
  border-radius: 8px;
  overflow: hidden;
  
}


.box::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #1c19df);
  transform-origin: bottom right;
  animation: animate  3s linear infinite;
}



.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #7e1ecc);
  transform-origin: bottom right;
  animation: animate  3s linear infinite;
  animation-delay: -1.5s;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  
  100%{
    transform: rotate(360deg);
  }

}

.form {
  position: absolute;
  inset: 5px;
  display: flex;
  flex-direction: column;
  background: #000000;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  
}




h2{
  text-align: center;
  color: #1815aa;
  font-size: 35px;
  animation: animateh2  3s linear infinite;
}

@keyframes animateh2{
  0%{
    color: #1815aa;
  }
  50%{
    color: #7e1ecc;
  }
  100%{
    color: #1815aa;
  }

}

.inputBox{
  display: flex;
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input{
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span{
  position: absolute;
  left: 0;
  
  padding: 20px 10px 10px;
  font-size: 1em;
  pointer-events: none;
  color: #1815aa;
  letter-spacing: 0.05em;
  transition: all 0.5s;

}

/* .inputBox input:invalid ~ span */
.inputBox input:valid ~ span,
.inputBox input:focus ~ span

{
  color: #7e1ecc;
  transform: translateY(-34px);
  padding: 0px 0px;
  padding-top: 20px;
  opacity: 1;
}



.inputBox i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #1815aa;
  border-radius: 4px;
  transition: 0.5s;
  
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
  height: 44px;
  background: #7e1ecc;
}


.form button{
  margin: 45px;
  border: 0;
  border-radius: 24px;
  justify-content: center;
  box-shadow: #1815aa 0 2px 30px 5px;
  box-sizing: border-box;
  background: #000;
  color: #1815aa;
  display: flex;
  font-size: 24px;
  line-height: 1em;
  max-width: 100%;
  padding: 12px;
  user-select: none;
  cursor: pointer;
  animation: animatebtn  3s linear infinite;
}

@keyframes animatebtn{
  0%{
    color: #1815aa;
    box-shadow: #1815aa 0 2px 30px 5px;
  }
  50%{
    color: #7e1ecc;
    box-shadow:  #7e1ecc 0 2px 30px 5px;
  }
  100%{
    color: #1815aa;
    box-shadow: #1815aa 0 2px 30px 5px;
  }

}

.form button:focus,
.form button:hover{
  box-shadow: #1815aa 0 2px 15px 3px;
  box-sizing: border-box;
  background: linear-gradient(90deg,transparent,#1815aa , #7e1ecc, #520e8a00 );
  color: #ffffff;
  animation: animatebtnhover  3s linear infinite;
  
}

@keyframes animatebtnhover{
  0%{
    color: #fdfdfd;
    box-shadow: #1815aa 0 2px 15px 3px;
  }
  50%{
    color: #ffffff;
    box-shadow:  #7e1ecc 0 2px 15px 3px;
  }
  100%{
    color: #ffffff;
    box-shadow: #1815aa 0 2px 15px 3px;
  }

}


.social-container{
  display: block;
  justify-content: center;
  width:100%;
  color: #fff;
  background: #000000;
  height: 100px;
}


.social-container ul {
  position: relative;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  
  
}

.social-container ul li{
  position: relative;
  display: inline-block;
  margin: 16px;
  width: 60px;
  height: 60px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  transition: 1s;
  
  
}




.social-container ul li span{
  color: #1815aa;
  transition: 1s;
  opacity: 0.7;
}

.li-twitter{
  
  box-shadow: #00acee  0px 1px ;
  
}

.li-whatsapp{
  box-shadow: #25d366  0px 1px ;
}

.li-facebook{
  box-shadow: #1b32e0  0px 1px ;
}


.li-telegram{
  box-shadow: #229ED9  0px 1px ;
}

.li-instagram{
  box-shadow: #c32aa3  0px 1px ;
}

.li-github{
  box-shadow: #fff  0px 1px ;
}


.socials ul div{

    position: relative;
    display: inline-flex;
    margin: 16px;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    transition: 1s;
  }

.socials ul div:hover .li-twitter,
.socials ul div:focus .li-twitter
{ 
  font-size: 50px;
  box-shadow: #00acee  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .twitter,
.socials ul div:focus .twitter
{ 
  opacity: 1;
  font-size: 35px;
  color: #00acee;
}

.socials ul div:hover .li-whatsapp,
.socials ul div:focus .li-whatsapp
{ 
  font-size: 50px;
  box-shadow: #25d366  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .whatsapp,
.socials ul div:focus .whatsapp
{ 
  opacity: 1;
  font-size: 35px;
  color: #25d366;
}

.socials ul div:hover .li-facebook,
.socials ul div:focus .li-facebook
{ 
  font-size: 50px;
  box-shadow: #1b32e0  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .facebook,
.socials ul div:focus .facebook
{ 
  opacity: 1;
  font-size: 35px;
  color: #1b32e0;
}

.socials ul div:hover .li-telegram,
.socials ul div:focus .li-telegram
{ 
  font-size: 50px;
  box-shadow: #229ED9  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .telegram,
.socials ul div:focus .telegram
{ 
  opacity: 1;
  font-size: 35px;
  color: #229ED9;
}

.socials ul div:hover .li-instagram,
.socials ul div:focus .li-instagram
{ 
  font-size: 50px;
  box-shadow: #c32aa3  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .instagram,
.socials ul div:focus .instagram
{ 
  opacity: 1;
  font-size: 35px;
  color: #c32aa3;
}

.socials ul div:hover .li-github,
.socials ul div:focus .li-github
{ 
  font-size: 50px;
  box-shadow: #fff  0px 1px 5px;
  transform: translateY(-5px) rotate(1080deg);
}
.socials ul div:hover .github,
.socials ul div:focus .github
{ 
  opacity: 1;
  font-size: 35px;
  color: #fff;
}


/* asd */


/* Me */


.me_container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.my_img{
  display: flex;
  width: 200px;
  height: 250px;
  
  
}

.my_img img{
  width: 100%;
}

.my_life{
  margin: 10px;
  text-align: start;
  height: fit-content;
  color: #fff;
}

.my_life span{
  font-size: 20px;
  
} 

.my_information{
  
  width: 700px;
  height: 300px;
  margin: 50px;
  text-align: center;
}

.my_information h2{
  display: flex;
  justify-content: center;
  font-size: 35px;
}




@media (max-width: 921px) {
  .my_information h2,
  h2{
    font-size: 30px;
  }
  .box{
    width: 300px;
    height: 370px;
    }
  .inputBox{
      display: flex;
      position: relative;
      width: 200px;
      margin-top: 35px;
    }
    .form button{
      font-size: 20px;
    }
  
}


@media (max-width: 840px) {
  .my_information h2,
  h2{
    font-size: 25px;
  
  }

  .my_life span{
    font-size: 18px;
    
  } 
  .social-container{
    display: inline-flex;
  }

  .socials{
    width: 400px;
  }
  
}

@media (max-width: 742px) {
  
  .me_container{
    flex-wrap: wrap;
    
  }

  .my_information{
    width: 400px;
    height: fit-content;
  }
  

  
}

@media (max-width: 375px) {
  
  .me_container{
    flex-wrap: wrap;
    
  }
  

  .my_information h2{
    font-size: 27px;
  }

  .my_information{
    text-align: center;
  }
  
    
}

/* Tools */

.tools-container{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  
}

.skill{
  display: inline-block;
  justify-content: center;
  height: fit-content;
  width: 30%;
  margin: 10px;
}

.skill span{
  display: flex;
  text-align: left;
  color: #fff;
  padding-top: 10px;
  font-size: 20px;
}


.tools-container .tools{
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  overflow: hidden;
  padding-top: 50px;
  border-radius: 50%;
  box-shadow: #7e1ecc 0px 0px 999999px 90px;
  transition: 2s;
  
  
}

.slider{
  scale: .9;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 1.5s;
}



.tools-container .tools:hover
{
  box-shadow: none;
  
}

.tools:hover .slider
{
  scale: 1.2;  
}


.tools-container .tools div{
  width: 200px;
  height: 200px;
  
}


.tools h2{
  display: block;
  font-size: 25px;
}


.react{
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/react.png) no-repeat ;
  
}


.html5{
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/html5.png) no-repeat ;
}

.css{
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/css.png) no-repeat ;
  
}


.python{
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/python.png) no-repeat ;
}

.django{
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/django.png) no-repeat ;
}

.git{
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 35px;
  margin-top: 30px;
  background: url(assets/git.png) no-repeat ;
}



@media (max-width: 599px) {

  .skill{
    width: 400px;
    margin: 50px;
  }

  .skill span{
    display: flex;
    text-align: left;
    padding-top: 10px;
    font-size: 18px;
    
  }

  .tools-container{
    margin-top: 10px;
    height: fit-content;
    flex-wrap: wrap;
    
  }
  
  .tools-container .tools{
    width: 280px;
    height: 280px;
  }

   .slider{
    scale: .85;
    margin-top: -20px;
    transition: all 1.5s;
  }
  .tools-container .tools:hover .slider{
    scale: 1.2;
  }

}

.works{
 padding-top: 50px;
}


.cards-container{
  display: flex;
  width: 100%;
  padding-top: 30px;
  height: fit-content;
  justify-content: center;
}



.box-card{
  position: relative;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  text-align: center;
  background: #000000;
  border-radius: 8px;
  overflow: hidden;
  scale: 0.85;
  transition: 1s;
  opacity: .7;
  
}

.box-card::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg, transparent, #1c19df);
  transform-origin: bottom right;
  animation: animate  3s linear infinite;
  opacity: .8;
}



.box-card::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 300px;
  height: 400px;
  background: linear-gradient(0deg, transparent, #7e1ecc);
  transform-origin: bottom right;
  animation: animate  3s linear infinite;
  animation-delay: -1.5s;
}


.box-card:hover{
  scale: 1;
  opacity: 1;
}



.card{
  position: absolute;
  inset: 5px;
  
  display: flex;
  flex-direction: column;
  background: #000000;
  z-index: 10;
  overflow: hidden;
}


.card-img{
  position: relative;
  width: 100%;
  height: 350px;

}


.card-img img{
  position: relative;
  width: 100%;
  height: 350px;
  transition: 1s;
}

.card-detail{
  margin:0px;
  font-size: 30px;
  color: #1815aa;
  cursor: pointer;
  transition: all 1s;
}

.card-detail ul{
  position: relative;
  width: 100%;
  opacity: 1;
  height: 200px;
  margin-top: 5px;
  transition: all .7s;
}

.card-detail ul li{
  display: block;
  text-align: center;
  justify-content: center;
}

.card-detail ul li h2{
  font-size: 24px;
}

.card-detail ul li a{
  font-size: 18px;
  color: #1815aa;
}

.card-detail ul li a:hover{

  color: #7e1ecc;
}

.card-detail{
  position: relative;
  opacity: .9;
  background: #000000;
  transition: all 1s;
  width: 100%;
  height: 100px;
}



.card:hover .card-detail,
.card:focus .card-detail{
  
  z-index: 9999999;
  transform: translateY(-40px)  ;
  height: 100px;
  
}


@media (max-width: 882px) {

  .cards-container{
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  .box-card,
  .box-card::before,
  .box-card::after{
    width: 200px;
    height: 300px;
  }

  .card-img{
    height: 250px;
  }
  .card-img img{
    height: 250px;
  }

  
}